@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: Cursed;
}

body {
    margin: 0;
    background: #1B244A;
}

.container {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 575px;
    height: 385px;
    background: #1B244A;
    padding: 40px;
    box-sizing: border-box;
}

.home-counter,
.guest-counter {
    font-family: Cursed;
    color: #F94F6D;
    background: black;
    width: 160px;
    height: 120px;
    font-size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.home {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 20px;
}

.guest {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
}

h3 {
    color: #fff;
    margin-bottom: 0;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: Cursed;
    color: #F94F6D;
    background: black;
    width: 160px;
    height: 120px;
    font-size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

button {
    border: 2px solid #9AABD8;
    color: #9AABD8;
    background: transparent;
    border-radius: 2px;
    padding: 10px;
    font-family: Cursed;
    margin:10px;
}

